/*============================== greeeting ================================*/
.greeting {
	margin: 10px;
	display: flex;
	justify-content: center;
}

.greeting__message {
	text-align: right;
}

.greeting__username {
	position: relative;
	display: block;
	color: white;
	font-weight: normal;
	font-family: Roboto, Arial, Helvetica, sans-serif;
	font-size: inherit;
	border: none;
	background-image: none;
	background-color: transparent;
	box-shadow: none;
	max-width: 350px;
	min-width: 50px;
	outline: none;
	cursor: auto;
	transition: 0.3s ease-out;
	border-radius: 3px;
}
.greeting__username.empty:after {content: "what's your name?";}
.greeting__username.empty + span {display: none}
.greeting__username.focus:after {display: none;}
.greeting__username:focus:before {
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	border-bottom: 2px solid #fff;
}

.greeting__username.highlight {
	background: rgba(255, 255, 255, 0.4);
	transition: 0.1s ease-in;
}

::placeholder {color: #fff;}
/*=========================================================================*/

/*========================= media queries =================================*/
@media screen and (max-height: 720px) {
	.greeting {
		font-size: 3.5em;
		width: unset;
	}
}

@media screen and (max-width: 670px) {
	.greeting {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
	}
	.greeting__message, .greeting__username {text-align: center;}
	.greeting__message {width: 100%;}
	.greeting__username {
		position: absolute;
    left: 50%;
    transform: translateX(-50%);
	}
}

@media screen and (max-height: 620px) {
	.greeting {font-size: 3.3em;}
}

@media screen and (max-height: 550px) {
	.greeting {font-size: 3em;}
}

@media screen and (max-height: 393px) {
  .greeting {
		width: 600px;
		transform: translateX(-50%);
		font-size: 3em;
		top: -23%;
	}
}

@media screen and (max-height: 330px) {
  .greeting {top: -33%;}
}

@media screen and (max-height: 270px) {
  .greeting {top: -42%;}
}

@media screen and (max-width: 620px) {
	.greeting {width: 420px;}
}

@media screen and (max-width: 500px) {
	.greeting {font-size: 2.2em;}
}