/*==================================== main =================================*/
* {
	margin: 0;
	padding: 0;
}

body {
	color: white;
	font-weight: normal;
	font-family: Roboto, Arial, Helvetica, sans-serif;
	text-shadow: 0.4px 0.4px 2px rgba(0, 0, 0, 0.5);
	font-size: 12px;
	cursor: default;
}

a {
	color: white;
	text-decoration: none;
	opacity: 0.7;
	transition: all 0.3s 0s ease;
	cursor: pointer;
}

a:hover {opacity: 1;}

.icon-link {
	opacity: 0.7;
	cursor: pointer;
	position: relative;
  top: -2px;
}

.icon-link:hover {opacity: 1;}

canvas {
	position: relative;
	left: 4px;
}
/*===========================================================================*/

/*=================================== font ==================================*/
@font-face {
  font-family: "icon";
  src:url("fonts-icons/icon.eot");
  src:url("fonts-icons/icon.eot?#iefix") format("embedded-opentype"),
    url("fonts-icons/icon.woff") format("woff"),
    url("fonts-icons/icon.ttf") format("truetype"),
    url("fonts-icons/icon.svg#icon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "icon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sun:before {content: "\61";}
.icon-settings:before {content: "\62";}
.icon-chrome:before {content: "\63";}
.icon-apps:before {content: "\64";}
.icon-like-love-streamline:before {content: "\65";}
.icon-twitter:before {content: "\66";}
.icon-wind:before {content: "\67";}
.icon-wind-cloud:before {content: "\68";}
.icon-wind-rain:before {content: "\69";}
/*=========================================================================*/

/*============================= background images ===========================*/
.background-images {
	width: 100%;
	height: 100vh;
	position: fixed;
  left: 0px;
  top: 0px;
  z-index: 0;
}

.background-images img {
	width: auto;
	min-width: 100%;
	height: 100vh;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.background-images .fade-out {opacity: 0;}

.background-images .active {z-index: 1;}
/*===========================================================================*/

/*=============================== links-popup ===============================*/
.links {
	cursor: pointer;
	position: fixed;
	left: 2%;
	top: 3%;
	font-size: 1.4em;
	opacity: 0.8;
	transition: all 0.3s ease-in-out;
}

.links:hover {opacity: 1;}

#links-popup-window {
	width: 200px;
	height: 108px;
	background-color: black;
	position: fixed;
	left: 1.15%;
	top: 7%;
	border-radius: 5px;
	font-size: 1.3em;
	transition: all 0.3s ease-in-out;
	z-index: 50;
	display: none;
}

#links-popup-window:before {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-bottom-color: black;
  opacity: 0.9;
  position: absolute;
  left: 13%;
  bottom: 100%;
}

input[type="checkbox"]:checked ~ #links-popup-window {
	z-index: 50;
  opacity: 0.9;
  transform: translateY(10%);
}

#chrometab, #apps {
	opacity: 0.75;
	transition: all 0.3s ease-in-out;
}

a, i {
	display: inline-block;
  vertical-align: sub;
  height: 16px;
}

#chrome {
	padding:0;
	margin: 0;
  position: relative;
  top: -2px;
}

#chrometab:hover, #apps:hover {opacity: 1;}

#newlink {
	border: none;
  font-size: 17px;
  text-align: left;
  position: relative;
	top: 5px;
	width: 80%;
}

#links-list {
	list-style-type: none;
	position: relative;
	left: 21px;
  top: 10px;
  line-height: 29px;
}
/*=============================================================================*/

/*================================= meteo top right ===========================*/
.meteo-wrapper {
  width: 98px;
  height: 73px;
  position: fixed;
	top: -0.5%;
	right: 2%;
	opacity: 0.7;
}

.meteo-btn {
	height: 100%;
	width: 100%;
	cursor: pointer;
}

.meteo__item-top {
	display: flex;
	justify-content: space-around;
}

.meteo__item-top .temperature__current	{
	position: relative;
	top: 8px;
	left: -4px;
	line-height: 66px;
	font-size: 24px;
}

.meteo__item-bottom	{
	text-align: center;
	font-size: 13px;
}

#temperature {
	font-size: 1.9em;
	opacity: 1;
	position: relative;
  top: 10%;
  right: -6%;
  text-align: center;
  font-family: arial;
  opacity: 1;
  cursor: pointer;
}

#location {
  position: relative;
  top: 20%;
  right: -6%;
  text-align: center;
  font-size: 0.85em;
  padding-top: 5px;
  opacity: 0.7;
	cursor: pointer;
}

#meteo-popup-window {
	width: 362px;
	height: 181px;
	background-color: black;
	position: fixed;
	right: 1.45%;
	top: 9%;
	border-radius: 5px;
	padding: 19px;
	font-size: 1.3em;
	z-index: 50;
	display: none;
	transition: all 0.3s ease-in-out;
	text-align: center;
}

#meteo-popup-window .temperature__feels-like {opacity: 0.5;}

#meteo-popup-window:before {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-bottom-color: black;
  opacity: 0.9;
  position: absolute;
  right: 5.5%;
  bottom: 100%;
}

#meteo-city {font-size: 1.2em;}

#meteo-state {
	opacity: 0.8;
	font-size: 1.1em;
	margin-bottom: 10px;
}

#meteo-icon {
	font-size: 3.5em;
	font-style: normal;
	color: white;
	opacity: 1;
}
/*==========================================================================*/

/*================================= middle-block ===========================*/
#middle-block {
	text-align: center;
	text-shadow: 0.4px 0.4px 2px rgba(0, 0, 0, 0.5);
  height: 471px;
	width: 100%;
  position: fixed;
  top: 32%;
  left: 50%;
  transform: translateX(-50%);
}

#time {
	font-size: 13em;
	font-weight: 600;
	width: 600px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.two-points {transition: 0.3s ease-in-out;}

.invisible {opacity: 0;}
/*=========================================================================*/

/*============================== settings-popup ===========================*/
.settings-geolocation-wrapper {
	height: 60px;
	width: 260px;
	position: fixed;
	bottom: 0%;
	left: 0%;
}

#settings-checkbox {
	position: fixed;
	left: -999999px;
	bottom: -999999px;
}

#settings {
	text-align: center;
	height: 19px;
	width: 19px;
	position: fixed;
	bottom: 2.8%;
	left: 2%;
	font-size: 19px;
	opacity: 0.6;
	padding: 0;
	margin: 0;
	transition: all 0.3s ease-in-out;
	z-index: 60;
}

#settings-popup-window {
	width: 700px;
	height: 450px;
	background-color: black;
	border-radius: 5px;
	position: fixed;
	left: 0.8%;
	bottom: 9%;
	padding: 18px;
	font-size: 1.3em;
	transition: all 0.3s ease-in-out;
	z-index: 100;
  display: none;
}

#settings-popup-window:before {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-top-color: black;
  opacity: 0.9;
  position: absolute;
	left: 2.75%;
  top: 100%;
}

.rotate {transform: rotate(60deg) scale(1.2);}
/*=========================================================================*/

/*============================ geolocation-block ==========================*/
#geolocation-block {
	height: 60px;
	width: 240px;
	position: absolute;
	bottom: 1.8%;
	left: 5%;
	z-index: 20;
}

.geolocation-author {
	opacity: 0;
	position: fixed;
	left: 5%;
	bottom: 2%;
	transition: all 0.3s ease-in-out;
}

#geolocation-block:hover .geolocation-author {
	opacity: 0.7;
	transform: translateY(20%);
}

.geolocation {
	position: fixed;
	bottom: 1.5%;
	left: 5%;
	padding-bottom: 10px;
	font-size: 1.3em;
	opacity: 0.7;
	font-family: Roboto;
	font-weight: 300;
	transition: all 0.3s 0s ease;
}

#geolocation-block:hover .geolocation {transform: translateY(-30%);}
/*=========================================================================*/

/*============================== quote-block ==============================*/
#quote-block {
	height: 60px;
	width: 472px;
	position: fixed;
	bottom: 2.5%;
	left: 50%;
	transform: translate(-50%);
	height: 50px;
	overflow: hidden;
}

.quote {
	font-size: 1.3em;
	font-weight: 300;
	position: relative;
	top: 62%;
	text-align: center;
	opacity: 0.7;
	transition: all 0.3s ease-in-out;
}

.quote-author {
	opacity: 0;
	position: relative;
	font-family: roboto,arial;
	font-size: 1.2em;
	font-weight: 300;
	top: 39%;
	text-align: center;
	transition: all 0.3s ease-in-out;
}

#quote-block:hover {
	height: fit-content;
	overflow: visible;
}

#quote-block:hover .quote-author {
	opacity: 0.7;
	transform: translateY(-75%);
}

#quote-block:hover .quote {transform: translateY(-66%);}

span,i {
	display: inline-block;
	vertical-align: sub;
}
/*=========================================================================*/

/*========================= whole background up ===========================*/
.toggle-on {
	opacity: 0;
	transition: all 0.7s ease-in-out;
	transition-delay: 3s;
}

.toggle-off {
	transition: all 0.3s ease-in-out;
	transition-delay: 0.5s;
}
/*=========================================================================*/

/*========================== media queries ================================*/
@media screen and (max-height: 720px) {
	#time {font-size: 12em;}
}

@media screen and (max-height: 620px) {
	#middle-block {
	  position: fixed;
	  top: 28%;
	}

	#time {font-size: 11em;}
}

@media screen and (max-height: 550px) {
	#middle-block {
	  position: fixed;
	  top: 15%;
	}

	#time {font-size: 10em;}
	#location {top: 5.5%;}
}

@media screen and (max-height: 393px) {
	#time {
	  opacity: 0;
	  z-index: -60;
	}
	.quote {
		font-size: 1.5em;
	  font-weight: 300;
		position: relative;
		top: 55%;
		text-align: center;
		opacity: 0.7;
		transition: all 0.3s ease-in-out;
	}

	.quote-author {
		opacity: 0;
		position: relative;
		font-family: roboto,arial;
		font-size: 1em;
		font-weight: 300;
		top: 25%;
		text-align: center;
		transition: all 0.3s ease-in-out;
	}

	#settings {
		position: fixed;
		bottom: 4.2%;
	}

	#location {top: 5.5%;}
}

@media screen and (max-height: 330px) {
	#location {top: 5.5%;}
}

@media screen and (max-height: 270px) {
	#location {top: 5.5%;}
}

@media screen and (max-width: 900px) {
 #geolocation {width: 100px;}
 #quote-block {width: 300px;}
}

@media screen and (max-width: 750px) {
	#quote-block {
		height: 60px;
		width: 350px;
		position: fixed;
		bottom: 2.5%;
		left: 50%;
		transform: translate(-50%);
	}

	#settings-popup-window {right: 0%;}

	#geolocation-block {
		opacity: 0;
		z-index: -20;
	}
}

@media screen and (max-width: 620px) {
	#meteo-popup-window {width: 310px;}
}

@media screen and (max-width: 500px) {
	#time {font-size: 10em;}
	#quote-block{
		width: 270px;
	 	left: 50%;
	 	transform: translateX(-50%);
	}
	.quote {font-size: 1.15em;}
	.meteo-wrapper {top: -2.5%;}
}
/*=========================================================================*/
